
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.logo {
    width: 16%;
    display: inline-block;
    float: left;
}
.logo::after, .logo::before {
    content: '';
    clear: both;
    display: block;
}
#box-logo {
    position: relative;
    margin: auto;
    height: 13em;
}
#logo {
    width: 40%;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
#logo2 {
    width: 48.5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.word--under {
    font-size: 3rem;
}
#tic-tac-toe h2 {
    width: auto;
    font-size: 2.6rem;
}
.card-image img {
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%)!important;
}
.card-image {
    height: 16em;
}