    <div class="nav-wrapper">
        <a href="#!" class="brand-logo right">Page about me</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="hobby/index.html" target="_blank">Hobby</a></li>
            <li><a href="https://www.visualcv.com/galina_gavrina" target="_blank">CV</a></li>
            <li><a href="#"><i class="material-icons">view_module</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="hobby/index.html">Hobby</a></li>
            <li><a href="https://www.visualcv.com/galina_gavrina" target="_blank">CV</a></li>
            <li><a href="#"><i class="material-icons">view_module</i></a></li>
        </ul>
    </div>