* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.rows {
    margin-bottom: 0;
    width: auto;
    clear: left;
}

.pixel
{
    height: 10ex;
    width: 10ex;
    border: solid 1px black;
    border-color: black;
    color: black;
    display: table-cell;
    vertical-align: middle;
    font-size: 3ex;
    font-style: normal;
    text-align: center;
    text-decoration: black;
}

.red {
    background: lightcoral;
    color: crimson;
}

.blue {
    background: lightblue;
    color: blue;
}
main.container {
    margin-top: 4em;
}
html {
    line-height: 1!important;
}